*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
@font-face {
    font-family: Airbnb Cereal;
    src: url("./src/font/AirbnbCereal_W_Bk.otf") format("opentype"),
        url("./src/font/AirbnbCereal_W_Bd.otf") format("opentype"),
        url("./src/font/AirbnbCereal_W_Blk.otf") format("opentype"),
        url("./src/font/AirbnbCereal_W_Lt.otf") format("opentype"),
        url("./src/font/AirbnbCereal_W_Md.otf") format("opentype"),
        url("./src/font/AirbnbCereal_W_XBd.otf") format("opentype");
}

p {
    font-family: Airbnb Cereal, "san-sarif";
    font-size: 16px;
}
/* hero-header-section */
.hero {
    height: 20dvh;
}

.hero .header {
    display: flex;
    height: 50%;
    padding: 0 5dvw;
    align-items: center;
}
.header > div {
    flex: 1 1 33%;
}
.header .logo img{
    height: 32px;

}
.header .center {
    display: flex;
    justify-content: center;
}
.header .center > :nth-child(1) {
    padding: 5px;
    font-weight: 600;
}

.header .center > :nth-child(2) {
    padding: 5px;
    font-weight: 100;
    color: grey;
    margin-left: 20px;
}
.header .right {
    display: flex;
    justify-content: end;
    align-items: center;
}

.header .right p {
    padding: 5px;
    font-weight: 600;
    font-size: 14px;
}

.header .right > :nth-child(2) {
    height: 16px;
    margin: 0 10px;
}

.hero .container {
    display: flex;
    align-items: center;
    margin: 0 8px;
    padding: 8px;
    border: 1px solid lightgrey;
    border-radius: 30px;
}

.header .container > :first-child {
    height: 16px;
    margin: 0 10px 0 5px;
}

.header .container > :nth-child(2) {
    height: 32px;

}
/* hero-searbar-section */
.search-bar .container {
    width: 55%;
    margin: 0 auto;
}

.search-bar .section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 16.5%;
    padding-left: 20px;
    border-left: 1px solid lightgrey;
}
.search-bar .container > div:nth-child(1){
    flex-basis: 33%;
}
.search-bar .container > div:nth-last-child(1){
    flex-basis: 33%;
}

.search-bar .section p:first-of-type {
    font-size: 12px;
    font-weight: 600;
}
.search-bar .section p:nth-of-type(2) {
    font-size: 14px;
    color: grey;
}

.search-btn {
    background-color: #FF385C;
    padding: 0;
    border-radius: 25px;
    height: 50px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-btn img{
    height: 16px;
}
 
.box {
    height: 100px;
    aspect-ratio: 1;
    background-color: yellow;
    position: absolute;
    left: 50%;
}
.box::before {
    content: "";
    position: absolute;
    left: 25px;
    bottom: 0;
    height: 15px;
    width: 70%;
    border-bottom: 3px solid #000;

}

